<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="F:/Java Selenium/Intershala assignment/Janitri_Task">
        <classes>
            <class name="tests.LoginTest">
                <methods>
                    <include name="testLoginButtonDisabledWhenFieldAreEmpty"/>
                    <include name="testPasswordMaskedbutton"/>
                    <include name="testInvalidLoginShowErrorMsg"/>
                    <include name="testLoginPageElementsPresence"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>